---
import SpeciesCard from "./SpeciesCard.astro";

import species from "../assets/species.json";

const images = species.map((_, i) => import(`../assets/species-img/${i}.jpg`));
---

<div>
  {
    species.map((species, i) => (
      <SpeciesCard name={species} img={images[i] as unknown as ImageMetadata} />
    ))
  }
</div>

<style>
  div {
    padding: 20px 0;
    margin: 10px 0;
    --border: 1px solid var(--accent);
    border-top: var(--border);
    border-bottom: var(--border);
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    overflow: auto;
    width: 100%;
  }
</style>
